@media only screen and (max-width:700px) {
    body{
        background-color: rgb(20, 111, 216);
    }
        h1 {
            font-size: 20px;
        }
   .all {
        border: 30px solid rgb(4, 179, 185);
     background-color: rgb(0, 0, 0);
     padding: 100px;
        width: 30%;
        text-align: center;
     margin: 100px auto;
        }
        .btn{
            display: flex;
        }
}